.grapherOptions {
  width: 100%;
  height: 40px;
}

.imageContainer {
  display: grid;
  grid-gap: 10px;
}

.image {
  width: 100%;
  height: auto;
}

@media (min-width: 350px) {
  .imageContainer {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

.photographers {
  max-height: 400px;
  overflow-y: scroll;
}

.timeNavButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    width: calc(50% - 5px);
    max-width: 300px;
  }
}

.footer {
  padding: 16px;
  text-align: center;
}

.footerButton {
  font-size: var(--adm-font-size-4);
  color: #ffffff;
  line-height: 1;
  padding: 10px 16px;
  background-color: rgba(153, 153, 153, 0.4);
  border-radius: 100px;
  display: inline-block;
  cursor: pointer;
}

.carouselWrapper {
  margin-left: auto;
  margin-right: auto;
  // height: 800px;

  @media (max-width: 767px) {
    width: 100%;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    width: 75%;
  }

  @media (min-width: 1024px) {
    width: 50%;
  }
}

.carouselItem {
  height: auto;
}

.InformationContainer {
  @media only screen and (min-width: 767px) {
    width: 100%;
  }

  @media only screen and (min-width: 767px) {
    width: 50%;
  }
}

.carousel .carousel-indicators {
  bottom: auto; /* 取消默认的底部定位 */
  top: 0; /* 设置到顶部 */
}
