@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  font-size: 16px;
}

@media only screen and (min-width: 993px) {
  #root {
    width: 70%;
  }
}

#root {
  position: relative;
  max-width: 1280px;
  margin: auto;
}
